.modal-dialog {
    z-index: 1100;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

i.Healthy, i.Running, i.Ready, i.success {
    color: #00a300;
}

i.Unhealthy, i.NotReady, i.failed, i.Error, i.CrashLoopBackOff,   {
    color: red;
}

i.Evicted, i.Failed, i.Pending, i.Succeeded {
    color: black;
}

i.info {
    color: white;
}

i.navbar-brand {
    margin-top: 2px;
}

.fa {
  margin-right: 6px;
}

a {
  color: #000000;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  line-height: 80px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
  vertical-align: middle;
}

.ui-pnotify-container {
  margin-top: 30px;
}

.ui-pnotify-icon {
  margin-top: 5px;
}
