.modal-dialog {
    z-index: 1100;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

i.failed {
    color: red;
}

i.success {
    color: #00a300;
}

i.NotReady {
    color: red;
}

i.Ready {
    color: #00a300;
}

i.Healthy {
    color: #00a300;
}

i.Unhealthy {
    color: red;
}


i.info {
    color: white;
}
i.navbar-brand {
    margin-top: 2px;
}

.fa {
  margin-right: 6px;
}

a {
  color: #000000;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 5px;
  /* Set the fixed height of the footer here */
  height: 80px;
  line-height: 80px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
vertical-align: middle;
}
