<!DOCTYPE html>
<html>
  <head>
    <title>Nemo</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css" integrity="sha256-d0mtrHsQZQe2+DIl6Z+F1rVWLI++ycF3BEXQUWf04xs=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.nonblock.css" integrity="sha256-o6ar29qJKgTZSqmuIUGCZdp27NsrGqdAZHtvxNffV8o=" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="/project/js/table-sort.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/project/js/application.js"></script>
    <script src="/project/js/global.js"></script>
    <script src="/project/js/k8s.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.js" integrity="sha256-Wdie7xDu6PuVG6BqNy/dEEYY0jK2JutDYnn0sI19yTw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.nonblock.js" integrity="sha256-XL9Jpf+ZGjO3i0L4cRvavUoRP8V2S4Jt4zCqPJUoeXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/project/css/dashboard.css">
    <script>
    PNotify.prototype.options.styling = "fontawesome"
    PNotify.prototype.options.delay -= 5000;
    </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"><img class="navbar-brand" src="/images/logo.png" width="160px" height="55px"></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto nav">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pods"><i class="fas fa-box"></i> Pods</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/deployments"><i class="fas fa-boxes"></i> Deployments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services"><i class="fas fa-plug"></i> Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/volumes"><i class="fas fa-hdd"></i> Volumes</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus-circle"></i>
                More
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/configmaps"><i class="fas fa-cogs"></i> ConfigMaps</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/secrets"><i class="fas fa-unlock-alt"></i> Secrets</a>
              </div>
            </li>
          </ul>

          <ul class="navbar-nav mr-sm-2 nav">
            <li class="nav-item">
              <a class="nav-link" href="/create"><i class="fa fa-cloud-upload-alt"></i>Create<span class="sr-only">(current)</span></a>
            </li>
          </ul>

        </div>
      </div>
    </nav>

        {{template "content" .}}

  </body>

    <br>
    <footer class="footer">
      <div class="container">
        <a href="https://github.com/valentin2105/Nemo"><i class="fab fa-github"></a></i><span class="text-muted">    2018. Nemo Kubernetes UI</span>
      </div>
    </footer>

</html>
