<!DOCTYPE html>
<html>
  <head>
    <title>Nemo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/project/css/dashboard.css">
    <script src="/project/js/table-sort.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <script src="/project/js/footer.js"></script>  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"><img class="navbar-brand" src="/images/logo.png" width="160px" height="55px"></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto nav">
            <li class="nav-item ">
              <a class="nav-link" href="/"><i class="fas fa-home"></i> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pods">Pods</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/deployments">Deployments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/volumes">Volumes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/configmaps">ConfigMaps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/secrets">Secrets</a>
            </li>
          </ul>

          <ul class="navbar-nav mr-sm-2 nav">
            <li class="nav-item">
              <a class="nav-link" href="/create/resources"><i style="font-size: 20px;" class="fa fa-cloud-upload-alt"></i><span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
    </nav>

        {{template "content" .}}

  </body>

    <br>
    <footer class="footer">
      <div class="container">
        <a href="https://github.com/valentin2105/Nemo"><i class="fab fa-github"></a></i><span class="text-muted">    2018. Nemo Kubernetes UI</span>
      </div>
    </footer>

  </html>
