{{define "content"}}
<br>
<div class="container">
<center>
    <div class="jumbotron">
      <img class="displayed" width="100" height="100" src="/images/k8s.png"></img>
      <br>
      <h2><i class="fa fa-anchor"></i> Welcome in your cluster.</h2>
    </div>
</center>
</div>
<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
      {{range .ComponentStatus}}
      <tr>
        <td><i class="fa fa-circle {{.Status}}"></i></td>
        <td>{{.Name}}</td>
      </tr>
      {{end}}
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <table class="table table-striped table-sortable">
      <thead>
        <tr>
          <th>Status</th>
          <th>Worker <i class="fa fa-angle-down"></i></th>
          <th>Schedulable <i class="fa fa-angle-down"></i></th>
        </tr>
      </thead>
      <tbody>
      {{range .Node}}
      <tr>
        <td><i class="fa fa-circle {{.Status}}"></i></td>
        <td>{{.Name}}</td>
        <td>{{.Schedulable}}</td>
      </tr>
      {{end}}
      </tbody>
    </table>
  </div>
</div>
{{end}}
