{{define "content"}}
<br>
<div class="container">
  <center>
    <div class="jumbotron">
      <h2 class="display-4"><i class="fas fa-hdd"></i>  Volumes</h2>
    </div>
  </center>
  </div>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
      <div class="md-form form-group">
        <i class="fas fa-search prefix"></i>
        <input type="text" id="inputIconEx1" class="form-control search">
        <label for="inputIconEx1">Search <span class="counter pull-right"></span></label>
      </div>
    </div>
    <div class="table-responsive">
    <h3>PersistentVolumeClaims</h3>
      <table class="table table-striped table-hover table-sortable results">
        <thead>
          <tr>
            <th>Status</th>
            <th>Name <i class="fa fa-angle-down"></i></th>
            <th>Namespace <i class="fa fa-angle-down"></i></th>
            <th>Size <i class="fa fa-angle-down"></i></th>
          </tr>
        </thead>
        <tbody>
          {{range .PVC}}
          <tr>
            <td>{{.Status}}</td>
            <td>{{.Name}}</a></td>
            <td>{{.Namespace}}</td>
            <td>{{.Size}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="table-responsive">
    <h3>PersistentVolumes</h3>
      <table class="table table-striped table-sortable results">
        <thead>
          <tr>
            <th>Status</th>
            <th>Name <i class="fa fa-angle-down"></i></th>
            <th>Size <i class="fa fa-angle-down"></i></th>
          </tr>
        </thead>
        <tbody>
          {{range .PV}}
          <tr>
            <td>{{.Status}}</td>
            <td>{{.Name}}</td>
            <td>{{.Size}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{end}}
